extends ../layouts/default

block main
	div
		
	.row
		.span6
			.pull-left
				h3=title
		.span6
			.pull-right
				div
block content
	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			ul
			each error in errors
				li= error.type
	div(ng-controller="VideoCtrl")
		form.signup.form-horizontal(action="/casts", method="post")
			.control-group.well
				div
					h4 General
				label.control-label(for='name') Name
				.controls
					input#name(type='text', name="name", placeholder='Name', value=cast.name)
				label.control-label(for='email') Description
				.controls
					input#description(type='text', name="description", placeholder='Description', value=cast.description)
				label.control-label(for='email') Summary
				.controls
					textarea#summary(type='text', name="summary", placeholder='Summary')=cast.summary
				label.control-label(for='email') Readme
				.controls
					textarea#readme(type='text', name="readme", placeholder='Readme')=cast.readme
				label.control-label(for='email') Tags
				.controls
					input#tags(type='text', name="readme", placeholder='Readme', value=cast.tags)
			.control-group.well
					h4 Video HTML
					textarea(ng-model="videoHTML", size="30", placeholder="Add a Video", ng-change="parseVideo()", class="span6")
					div
						{{videoHTML}}	
					div
						h4 Video
					label.control-label(for='email') Poster
					.controls
						input#url(type='text', name="video[poster]", placeholder='Poster', value="{{video.poster}}")
					label.control-label(for='email') UID
					.controls
						input#url(type='text', name="video[uid]", placeholder='UID',value="{{video.uid}}")
					.source(ng-repeat="source in video.sources") 
						.source-header Source
						label.control-label(for='src') SRC
						.controls
							input#url(type='text', name="video[source][src][]", placeholder='SRC', value="{{source.src}}")
						label.control-label(for='quality') Quality
						.controls
							input#url(type='text', name="video[source][quality][]", placeholder='Quality', value="{{source.quality}}")
				.controls
					.btn.btn-mini.btn-success#add_source Add Source
			.form-actions
				button.btn.btn-primary(type='submit') Create Cast